
# SYSTEM / BUILD
dist/
build/
out/
*.spec

# EXECUTABLES
*.exe
*.dll

# Keep ffmpeg locally but ignore it
ffmpeg.exe
bin/
bin/*

# ENV FILES
.env
.env.*
!.env.example

# PYTHON
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
*/venv/
**/venv/

# MODELS (IMPORTANT)
*.pt
*.onnx
models/

# CACHE
.cache/
.parcel-cache/

# TEMP FILES
tmp/
temp/
*.tmp
*tempCodeRunnerFile.py

# MEDIA / GENERATED DATA
chunks/
*.avi
*.mp4

# LOGS
logs/
*.log

# IDE / EDITOR
.vscode/
.idea/
*.swp
*.swo
*~

# JUPYTER
.ipynb_checkpoints/

# OS FILES
.DS_Store
Thumbs.db

# Test Files
*/Test
*test*

# Users
/data